*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-emphasis: none;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../img/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

form{
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 350px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 13px;
    background-color: #ad3333;
}

h2{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #DADADA;
    margin-bottom: 25px;
}

a{
    font-size: 17px;
    color: #DADADA;
    margin-bottom: 10px;
    text-decoration: none;
}

input{
    padding: 10px 10px;
    border: 1px solid #00addf;
    border-radius: 12px;
    margin-bottom: 18px;
    background-color: #e6e6e6;
    outline: none;
    font-size: 16px;
}

.btn_1{
    background-color: #ad3333;
    font-size: 15px;
    color: #DADADA;
    text-transform: uppercase;
    cursor: pointer;
}

.btn_1:hover{
    background-color: #dadada;
    color: #242323;
}

.recordar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

